:root {
  --header-bg-color: #434F62;
  --body-bg-color: #181D23;
  --body-bg-color-lighter: #3C434D;
  --main-bg-color: #2C333D;
  --main-color: #FFFFFF;
  --secondary-color: #979EA7;
  --link-color: #55B1FB;

  --input-borderRadius: 8px;
  --input-bgColor: #303949;

  --thead-bg-color: #536073;

  --flash-color-default: #979EA7;
  --flash-color-info: #6086BD;
  --flash-color-success: #37C765;
  --flash-color-error: #FF4264;

  --zIndex-search-input: 100;
  --zIndex-search-icon: 200;
  --zIndex-search-autocompleteResults: 300;

  --spacing-desktop: 40px;
  --spacing-mobile: 20px;
}

header input {
  display: flex;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}

a {
  transition: all 0.3s;
}

a:hover {
  color: #FFFFFF;
}

::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #939FAC;
}

::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #939FAC;
}

:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #939FAC;
}
.ms_fighter_search-tiny::-webkit-input-placeholder {
  font-size: 14px;
}

.ms_fighter_search-tiny::-moz-placeholder {
  font-size: 14px;
}

.ms_fighter_search-tiny:-ms-input-placeholder {
  font-size: 14px;
}

label {
  font-size: 14px;
}

.ms_column {
  display: flex;
  flex-direction: column;
}

header {
  height: 80px;
  background-color: var(--header-bg-color);
}
.ms_navbar,
main {
  margin: auto;
  max-width: 1440px;
}
.ms_header_container {
  margin: 0 var(--spacing-mobile);
}
@media (min-width: 768px) {
  .ms_header_container {
    margin: 0 var(--spacing-desktop);
  }
}
.mainContentWrapper {
  margin: var(--spacing-mobile);
}
@media (min-width: 768px) {
  .mainContentWrapper {
    margin: var(--spacing-desktop);
  }
}

.ms_logo {
  height: 27px;
  width: 132px;
}
.ms_header_links {
  display: flex;
  justify-content: flex-end;
}

.card {
  background-color: var(--main-bg-color);
  border-radius: var(--input-borderRadius);
  padding: var(--spacing-mobile);
}
@media (min-width: 768px) {
  .card {
    padding: var(--spacing-desktop);
  }
}

.ms_search_ico {
  position: absolute;
  left: 12px;
  top: calc(50% + 1px);
  transform: translateY(-50%);
  z-index: var(
  --zIndex-search-icon);
  height: 20px;
  width: 20px;
  color: #939FAC;
  font-weight: bold !important;
  font-size: 18px;
}
.ms_search_ico-tiny {
    left: 8px;
    font-size: 16px;
    height: 18px;
}
.ms_body {
  margin: 0px;
  background-color: var(--body-bg-color);
}

.ms_search_form {
  background-color: var(--input-bgColor);
  border-radius: var(--input-borderRadius);
  position: relative;
  display: block;
  width: 100%;
  margin: 16px auto;
}
@media (max-width: 767px) {
  .ms_search_form {
    max-width: calc(100% - 40px);
  }
}
.ms_search_form-tiny {
  max-width: 320px;
}
.ms_fighter_search,
.ms_search_suggestion {
  height: 48px;
  width: 100%;
  border-radius: var(--input-borderRadius);
  color: #FFFFFF;
  background: transparent;
  font-size: 18px;
  line-height: 32px;
  border: none;
  z-index: var(--zIndex-search-input);
  position: relative;
  outline: none;
  padding-left: 40px;
}
.ms_fighter_search:focus {
  box-shadow: 0 4px 6px 0 rgba(32,33,36,1.28);
}
.ms_fighter_search-tiny {
  padding: 0 10px;
  padding-left: 32px;
  border: 1px solid #a6a6a6;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  border-radius: 5px;
}

.ms_header_container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .ms_header_container {
    z-index: 2;
  }
}
.ms_header_logo {
  flex: calc(280 / 1360);
  padding: 24.5px 2px;
  margin-right: 25px;
}
.ms_header_search_wrapper {
  flex-basis: 500px;
}
.ms_header_links {
  flex: calc(580 / 1360);
}
@media (max-width: 767px) {
  .ms_header_links {
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: translateY(0);
    transition: all 0.3s;
    background-color: var(--header-bg-color);
    padding-right: 20px;
    margin-right: -20px;
    width: 100vw;
  }
  .mobile_nav_toggle.is-expanded + .ms_header_links {
    opacity: 1;
    visibility: visible;
    transform: translateY(100%);
  }
  .mobile_nav_toggle.is-expanded + .ms_header_links .ms_rlink {
    border-top: 1px solid #fff;
    height: 60px;
    line-height: 60px;
  }
  .mobile_nav_toggle.is-expanded + .ms_header_links .ms_rlink:first-child {
    border-top: none;
  }
}
/* taken and modified from */
/* https://codepen.io/erikterwan/pen/EVzeRP */
.mobile_nav_toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  -webkit-user-select: none;
  user-select: none;
  margin-left: 12px;
}
.mobile_nav_toggle > div {
  width: 32px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 5px;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.mobile_nav_toggle > div:nth-child(3) {
  transform-origin: 0% 100%;
}
.mobile_nav_toggle.is-expanded > div {
  opacity: 1;
  transform: rotate(45deg) translate(1px, -2px);
}
.mobile_nav_toggle.is-expanded > div:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.mobile_nav_toggle.is-expanded > div:nth-child(3) {
  transform: rotate(-45deg) translate(2px, 2px);
}
@media (min-width: 768px) {
  .mobile_nav_toggle {
    display: none;
  }
}

.mobile_search_toggle {
  display: none;
  position: relative;
  transform: none;
  cursor: pointer;
  left: 0;
  height: 40px;
  width: 40px;
  padding-top: 5px;
  padding-left: 6px;
  font-size: 25px;
  margin-left: auto;
  color: #fff;
}
@media (max-width: 767px) {
  .mobile_search_toggle {
    display: block;
  }
  .ms_header_search_wrapper {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: translateY(0);
    transition: all 0.3s;
    background-color: var(--header-bg-color);
    margin-right: -20px;
    width: 100vw;
  }
  .mobile_search_toggle.is-expanded + .ms_header_search_wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(100%);
  }
}

.ms_row {
  display: flex;
}

.ms_row_center {
  justify-content: center;
}

.ms_row_end {
  justify-content: flex-end;
}

.ms_rating_table_row {
  display: flex;
  flex-wrap: wrap;
}

.ms_rlink {
  display: block;
  height: 100%;
  color: #8FA6C3;
  font-size: 18px;
  font-weight: 500;
  line-height: 80px;
  text-decoration: none;
  padding: 0 15px;
  margin-left: 10px;
}
.ms_rlink.is-active {
  border-bottom: 2px solid #fff;
  margin-bottom: -2px;
  color: #fff;
}

.ms_table_footer,
.dataTables_info,
.dataTables_paginate {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
  font-size: 14px;
}
.dataTables_paginate {
  margin-right: -10px;
}
.paginate_button.disabled,
.paginate_button.current {
  color: grey;
  pointer-events: none;
}
.paginate_button.current {
  color: #fff;
}

.ms_table_footer_link,
.paginate_button {
  cursor: pointer;
  color: var(--link-color);
  letter-spacing: 0;
  line-height: 16px;
  height: 26px;
  text-decoration: none;
  padding: 5px 10px;
  min-width: 26px;
  display: inline-block;
}
.ms_table_footer_link {
  margin-bottom: -16px;
}

.ms_rating_table_col {
  flex: 1;
  max-width: 50%;
}
.ms_rating_table_col + .ms_rating_table_col {
  margin-left: 20px;
}
@media (max-width: 1200px) {
  .ms_rating_table_col {
    flex: 1;
    max-width: 100%;
  }
  .ms_rating_table_col {
    margin-bottom: 20px;
  }
  .ms_rating_table_col + .ms_rating_table_col {
    margin-left: 0;
  }
}

.short_table_title {
  margin-bottom: 36px;
  margin-top: 0;
  height: 28px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
}

.ms_table_hover tbody tr td,
.ms_table_hover tbody tr th {
  transition: all 0.3s;
}
.ms_table_hover tbody tr:hover td,
.ms_table_hover tbody tr:hover th {
  background-color: var(--body-bg-color-lighter);
}



.ms_follow_us {
  height: 14px;
  color: #707882;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 11px;
}

.ms_mmastat_twitter {
  height: 16px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
}

.foot_nav {
  margin-top: 32px;
}

.foot_nav_link {
  height: 24px;
  line-height: 24px;
  color: #707882;
  font-size: 14px;
  letter-spacing: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
.foot_nav_link:not(:last-child) {
  border-right: 1px solid var(--main-bg-color);
}

.ms_copyright {
  height: 14px;
  width: 98px;
  color: #707882;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: 69px;
}

footer {
  border-top: 1px solid #303943;
  margin-top: 80px;
  padding-top: 37px;
  height: 210px;
  align-items: center;
}

.mainWithSidebar {
  display: flex;
  flex-wrap: wrap;
}
.mainWithSidebar .main {
  width: calc(100% * 2 / 3);
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .mainWithSidebar .main {
    width: 100%;
  }
}
.mainWithSidebar-wide .main {
  width: calc(100% * 3 / 4);
}
.central_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainWithSidebar .main > .card + .card {
  margin-top: 20px;
}
.card_top_margin {
  margin-top: 20px;
}
.mainWithSidebar .sidebar {
  flex: 1;
  margin-left: 10px;
  height: 100%;
}
.ms_compare_stats_table td {
  padding-right: 10px;
}
@media (min-height: 624px) {
  .mainWithSidebar .sidebar {
    top: 40px;
  }
}
.fighterBio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.fighterBio-fullName {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 48px;
}

.fighterBio-info {
  color: var(--secondary-color);
  line-height: 22px;
}

.fighterBio-dateOfBirth {
  margin-bottom: 22px;
}

.fighterBio-category {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  margin-top: var(--spacing-mobile);
}
@media (min-width: 768px) {
  .fighterBio-category {
    margin-top: var(--spacing-desktop);
  }
}
.fighterBio-rating {
  display: flex;
}
.fighterBio-rating-title {
  color: var(--secondary-color);
}
.fighterBio-rating-value {
  margin: 0 8px;
  font-weight: bold;
  color: var(--link-color);
  text-decoration: none;
}
.fighterBio-rating-change {
  color: var(--secondary-color);
}
.fighterBio-profilePic {
  border: 3px solid #536073;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  filter: grayscale(1);
}
.fighterBio-recordsTitle {
  color: var(--secondary-color);
  margin-bottom: 8px;
  margin-top: var(--spacing-mobile);
}
@media (min-width: 768px) {
  .fighterBio-recordsTitle {
    margin-top: var(--spacing-desktop);
  }
}
.fighterBio-records {
  display: flex;
  font-weight: 500;
}
.fighterBio-records-item {
  padding: 0 8px;
  white-space: nowrap;
}
.fighterBio-records-wins {
  color: var(--flash-color-success);
}
.fighterBio-records-loses {
  color: var(--flash-color-error);
}
.fighterBio-records-draws {
  color: var(--flash-color-info);
}
.fighterBio-records-ncs {
  color: var(--flash-color-default);
}
.fight-result {
  margin: 12px 8px;
  white-space: nowrap;
  color: #fff;
  height: 22px;
  border-radius: 11px;
  display: block;
  line-height: 22px;
  width: 72px;
  text-align: center;
  font-size: 14px;
}
.fight-result-win {
    background: var(--flash-color-success);
}
.fight-result-loss {
  background: var(--flash-color-error);
}
.fight-result-draw {
  background: var(--flash-color-info);
}
.fight-result-nc {
  background: var(--flash-color-default);
}
.fight-rating {
  padding: 12px 8px;
  white-space: nowrap;
}
.fight-rating-diff {
  font-weight: normal;
}
.fight-rating-up {
  color: var(--flash-color-success);
}
.fight-rating-down {
  color: var(--flash-color-error);
}
.fight-rating-same {
  color: var(--flash-color-info);
}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: var(--flash-color-info);
  color: white;
  border-radius: 3px;
  transition: all 0.3s;
  transform: translateX(-50%);
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.5);
}

.chartjs-tooltip-layout {
  display: flex;
  flex-direction: column;
  background: var(--flash-color-info);
  position: relative;
  align-items: center;
  text-align: center;
}

.chartjs-tooltip-layout-body {
  font-size: 18px;
  font-weight: bold;
}

.chartjs-tooltip-layout-date {
  font-size: 12px;
  margin: 4px 0;
}

.chartjs-tooltip-layout-vs {
  font-size: 14px;
  font-weight: bold;
  color: var(--body-bg-color);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--flash-color-info);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}

.ms_autocomplete {
  position: absolute;
  top: 100%;
  width: 100%;
  background: var(--input-bgColor);
  z-index: var(--zIndex-search-autocompleteResults);
  padding: 0;
  padding-top: 7px;
  margin-top: -8px;
  border-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 7px 6px 0 rgba(32, 33, 36, 1);
  visibility: hidden;
  opacity: 0;
}
.ms_autocomplete.is-search-active {
  visibility: visible;
  opacity: 1;
  border: 1px solid #a6a6a6;
  border-top: none;
}
.ms_autocomplete:before {
  content: " ";
  height: 1px;
  margin: 0 10px;
  background: var(--header-bg-color);
  display: block;
}
.ms_autocomplete_item:first-child {
  margin-top: 10px;
}
.ms_autocomplete_item {
  cursor: pointer;
  padding: 12px;
  margin: 0;
  font-weight: 500;
}

.ms_autocomplete_item_selected {
  background-color: var(--body-bg-color-lighter);
  color: var(--link-color);
}
#ms-autocomplete-tail {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.ms_search_suggestion {
  position: absolute;
  top: 0;
  margin: 0;
  color: var(--secondary-color);
}




.select-wrapper,
.field {
  position: relative;
  margin-bottom: 16px;
}
.select-wrapper select {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  position: relative;
  display: block;
  color: #fff;
  white-space: nowrap;
  font-size: 14px;
  padding: 8px;
  padding-right: 24px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--input-bgColor);
}
.select-wrapper select::-ms-expand {
  display: none;
}
.select-wrapper select:focus {
  outline: none;
}
.select-wrapper select option {
  font-size: 28px;
  font-weight:normal;
}
.select-wrapper select:disabled {
  color: graytext;
  pointer-events: none;
}
.genderRadios {
  display: flex;
  justify-content: space-between;
}
.genderRadios input {
  margin-right: 8px;
}
.genderRadios label,
.divisionChecks label {
  padding: 8px;
}
.divisionChecks {
  display: flex;
  flex-direction: column;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  display: flex;
}
input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: white;
  margin-right: 8px;
}
input[type="radio"] + label:before {
  border-radius: 50%;
}
input[type="radio"]:checked + label:after,
input[type="checkbox"]:checked + label:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 3px;
  margin-left: 3px;
  position: absolute;
  transform: scale(1);
  animation: radioChecked 0.1s;
}
input[type="checkbox"]:checked + label:after {
  content: "✔";
  color: var(--input-bgColor);
  margin-top: 0;
  margin-left: 2px;
}
input[type="radio"]:checked + label:after {
  background: var(--input-bgColor);
  border-radius: 50%;
}
@keyframes radioChecked {
  from { transform: scale(0.1) }
  to { transform: scale(1.1) }
}

.ms_sidebar {
  display: flex;
  flex-direction: column;
}

.ms_extra_stats {
  margin-top: 20px;
}

.blog-card {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 760px;
}

.blog-card h2 {
  margin-top: 30px;
}

.about-link {
  font-weight: bold;
  color: var(--link-color);
  text-decoration: none;
}

.var-image, .formula-image {
  filter: invert(100%);
}

.var-image {
  vertical-align: middle;
}

.formula-image {
  display: block;
  margin: 30px;
}

.sidebarToggle {
  display: none;
}
@media (max-width: 1200px) {
  .mainWithSidebar-wide .main {
    width: 100%;
  }
  .sidebarDrawer {
    position: fixed;
    transition: all 0.5s;
    top: 120px !important;
    right: 0;
    z-index: 9;
    max-height: calc(100vh - 120px);
    transform: translateX(100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.8);
  }
  .sidebarDrawer.is-expanded {
    transform: translateX(0);
  }
  .sidebarDrawer .sidebarToggle {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 100%;
    border-radius: var(--input-borderRadius);
    background: var(--main-bg-color);
    width: 40px;
    height: 120px;
    line-height: 120px;
    font-size: 48px;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -11px 7px 8px 5px rgba(0,0,0,0.18);
    padding-left: 6px;
  }
  .sidebarDrawer .sidebarToggle svg {
    transition: all 0.3s;
  }
  .sidebarDrawer.is-expanded .sidebarToggle svg {
    transform: scaleX(-1);
  }
}

@import "tables";
@import "stats";
